:root {
    --main-color: #930677f7;
}
.App {
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
}
.dark
{
    background-color: #222 ;
    color: #fffdfd;
}
.light
{
    background-color: #fffdfd ;
    color: #222;
}
.main-color
{
    color: var(--main-color);
}
a {
    text-decoration: none;
    color: inherit;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-10 {
    height: 100vh;
}
.w-10 {
    width: 100vw;
}
.main-btn {
    background-color: var(--main-color);
    color: #fffdfd;
    transition-duration: 0.3s;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
}
.main-btn:hover {
    background-color: #7b0563fd;
    color: #fffdfd;
    transform: scale(1.03);
}
.sm-shadow {
    box-shadow: 0px 2px 7px rgb(0 0 0 / 20%); 
}
.bg-main {
    background-color: var(--main-color);
}
.padding-top{
    padding-top: 80px;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .padding-top{
        padding-top: 77px;
    }
}
@media (max-width: 526px) {
    .padding-top{
        padding-top: 167px;
    }
}
@media (max-width: 359px){
    .padding-top{
        padding-top: 207px;
    }
}
@media (max-width: 269px) {
    .padding-top{
        padding-top: 247px;
    }
}
@media (max-width: 239px) {
    .padding-top{
        padding-top: 287px;
    }
}
@media (max-width: 196px) {
    .padding-top{
        padding-top: 317px;
    }
}
