:root {
    --main-color: #930677f7;
}
.App {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
}
.dark
{
    background-color: #222 ;
    color: #fffdfd;
}
.light
{
    background-color: #fffdfd ;
    color: #222;
}
.main-color
{
    color: var(--main-color);
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-10 {
    height: 100vh;
}
.w-10 {
    width: 100vw;
}
.main-btn {
    background-color: var(--main-color);
    color: #fffdfd;
    transition-duration: 0.3s;
    border-radius: 20px;
}
.main-btn:hover {
    background-color: #7b0563fd;
    color: #fffdfd;
    transform: scale(1.03);
}
.sm-shadow {
    box-shadow: 0px 2px 7px rgb(0 0 0 / 20%); 
}
.bg-main {
    background-color: var(--main-color);
}